Public Key Validation For EDDSA

**environment**
Demo

**testSessionId**
203911

**vsId**
722659

**Expected behavior**
The key verification of ED-25519 and ED-448 should fail as expected by the test server.

The IUT verification logic does not produce the correct results.

**Additional context**
The IUT public key verification is done using the algorithm described in RFC8032, section 5.2.3. Performing this check on, for example, the ED-25519 public keys always evaluates to them being valid. That is not what the test server expects.

Does this mean, this is not the correct validation logic? For example, there is a generic ECC public validation algorithm found in SP-800-56Ar2, section 5.6.2.3.2. Is the IUT expected to use this one?


We have also stumbled onto this one. Our implementation flags all keys as valid.
For example, for ED-25519, {"tcId":1,"q":"43D05481745C636F8EB212BF53E3E37938BAEDBE39D0524C574B247DC2CE6AC5"} is given as {"tcId":1,"result":"failed","reason":"point not on curve","expected":{"testPassed":"False"}, yet the point appears to be on the curve, at least using the regular formulation.

Taking a look into this now.  It seems the act of modifying the key to be "bad" then going through the encoding/decoding process of the value `Q` effectively makes, in many cases, the mangled x/y to be back on the curve - though not corresponding to the private key that was generated for that x/y/q value.

I'll be making an update to our test case generation to ensure the expected failure test cases are not valid even after going through an encode/decode cycle.



This change is on demo in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)

I've run a few tests now, as far as I can tell we now get the same failures as the demo system. Thanks.

Hello. I just ran a test with our IUT and it passes, as well.
Thank you!

This change is on prod in release [v1.1.0.22](https://github.com/usnistgov/ACVP-Server/releases/tag/v1.1.0.22)