RSA-sigVer-FIPS186-5: invalid digest/mgf combinations for PSS mode

According to RFC 8692 section 4.1.1 MGF and digest in RSASSA-PSS MUST be the same: both SHAKE128 or both SHAKE256.

So I believe demo server generates test cases with invalid digest/mgf combinations for PSS mode.

For instance:
1. https://github.com/usnistgov/ACVP-Server/blob/fb44dce5257aba23088256e63c9b950db6967610/gen-val/json-files/RSA-SigVer-FIPS186-5/internalProjection.json#L1914 test case has SHA3-256 digest ("hashAlg") and shake-128 MGF ("maskFunction").
2. https://github.com/usnistgov/ACVP-Server/blob/fb44dce5257aba23088256e63c9b950db6967610/gen-val/json-files/RSA-SigVer-FIPS186-5/internalProjection.json#L1853 test case has SHAKE-256 digest ("hashAlg") and shake-128 MGF ("maskFunction").

I believe for non-SHAKE digests (like SHA3-256 in the examples above) only tests cases with "MGF1" mask function should be generated, while for SHAKE digests (SHAKE-128, SHAKE-256) only test cases with mask function matching the digest algorithm have to be generated.

Hi @aid302, RFC8692 states:

```
When id-RSASSA-PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 (specified in [Section 3](https://datatracker.ietf.org/doc/html/rfc8692#oids)) is used, the encoding MUST omit the parameters field.
```

This is read as "When SHAKE128/256 is used as the HashAlg, then SHAKE must be used as the MGF.", but not that "SHAKE as an MFG is only valid for when the HashAlg is also SHAKE". Please let me know if this makes sense and you have any further questions or comments, if not, we can close this.

Thanks!
-Joel

Hi Joel,

Thank you for your response.

I disagree with your statement/interpretation. 

> When id-RSASSA-PSS-SHAKE128 or id-RSASSA-PSS-SHAKE256 (specified in [Section 3](https://datatracker.ietf.org/doc/html/rfc8692#oids)) is used, the encoding MUST omit the parameters field.

From my point of view, this just means that in case of using SHAKE128 or SHAKE256 object id (OID), the optional parameters field (described for instance in https://www.rfc-editor.org/rfc/rfc4055.html#page-7) MUST be absent.

This is consistent with the statement from RFC8692 (a few lines down from the first statement) I quoted before:

> The hash algorithm to hash a message being signed and the hash algorithm used as the MGF in RSASSA-PSS MUST be the same: **both** SHAKE128 or **both** SHAKE256.

So, upon using, say, SHAKE-128 hash algorithm for RSA-PSS signature, the hash algorithm used as the MGF MUST be the same - SHAKE-128. This omits the needs to specify the RSA-PSS parameters, such as MGF, as it's already determined.

Please note that even for 'standard' (SHA1/SHA2) hash algorithms RFC8017 recommended that mask generation function is based on the same hash function: https://www.rfc-editor.org/rfc/rfc8017.html#section-8.1. This recommendation intends to avoid a potential security vulnerability, where a weaker hash function can be used.
And for RSA-PSS, RFC8692 just made this condition mandatory: if SHAKE is used for either the hash function or for MGF, the other hash MUST match.

Hope this makes sense.

Thanks,
Igor.

Please also take a look at ASN.1 module appendix in RFC8692 (https://www.rfc-editor.org/rfc/rfc8692.html#name-asn1-module).
It presents the only 2 possible options of RSA-PSS with SHAKE.

> -- RSASSA-PSS with SHAKE128
> sa-rsassapssWithSHAKE128 SIGNATURE-ALGORITHM ::= {
>   IDENTIFIER id-RSASSA-PSS-SHAKE128
>   PARAMS ARE absent
>       -- The hashAlgorithm is mda-shake128
>       -- The maskGenAlgorithm is id-shake128
>       -- Mask Gen Algorithm is SHAKE128 with output length
>       -- (8*ceil((n-1)/8) - 264) bits, where n is the RSA 
>       -- modulus in bits.
>       -- The saltLength is 32. The trailerField is 1
>   HASHES { mda-shake128 }
>   PUBLIC-KEYS { pk-rsa | pk-rsaSSA-PSS-SHAKE128 }
>   SMIME-CAPS { IDENTIFIED BY id-RSASSA-PSS-SHAKE128 }
> }
> id-RSASSA-PSS-SHAKE128  OBJECT IDENTIFIER  ::=  { iso(1) 
>         identified-organization(3) dod(6) internet(1) 
>         security(5) mechanisms(5) pkix(7) algorithms(6)
>         30 }
> 
> -- RSASSA-PSS with SHAKE256
> sa-rsassapssWithSHAKE256 SIGNATURE-ALGORITHM ::= {
>   IDENTIFIER id-RSASSA-PSS-SHAKE256
>   PARAMS ARE absent
>       -- The hashAlgorithm is mda-shake256
>       -- The maskGenAlgorithm is id-shake256
>       -- Mask Gen Algorithm is SHAKE256 with output length
>       -- (8*ceil((n-1)/8) - 520)-bits, where n is the 
>       -- RSA modulus in bits.
>       -- The saltLength is 64. The trailerField is 1.
>  HASHES { mda-shake256 }
>  PUBLIC-KEYS { pk-rsa | pk-rsaSSA-PSS-SHAKE256 }
>  SMIME-CAPS { IDENTIFIED BY id-RSASSA-PSS-SHAKE256 }
> }
> id-RSASSA-PSS-SHAKE256  OBJECT IDENTIFIER  ::=  { iso(1) 
>         identified-organization(3) dod(6) internet(1) 
>         security(5) mechanisms(5) pkix(7) algorithms(6)
>         31 }

Hi @aid302,

I think we're on the same page here actually:

> So, upon using, say, SHAKE-128 hash algorithm for RSA-PSS signature, the hash algorithm used as the MGF MUST be the same - SHAKE-128. This omits the needs to specify the RSA-PSS parameters, such as MGF, as it's already determined.

This is true, but we require the settings to be specified by the user for the sake of CSRC Certifications. What you submit in your Registration/Capabilities directly correlates to what is applied to a Cert. We run the settings through parameter validation to make sure the conformances are met, etc.; the settings that pass are used directly within the code for Cert production.

> Please note that even for 'standard' (SHA1/SHA2) hash algorithms RFC8017 recommended that mask generation function is based on the same hash function: https://www.rfc-editor.org/rfc/rfc8017.html#section-8.1. This recommendation intends to avoid a potential security vulnerability, where a weaker hash function can be used.

As far as this is concerned, since it's not a direct requirement, we support it either way. This is why we have "mismatching" HashAlg/MFG combos.

> And for RSA-PSS, RFC8692 just made this condition mandatory: if SHAKE is used for either the hash function or for MGF, the other hash MUST match.

Thank you for bringing it to our attention. I will look into what we can do for this and bring it up with the team. This would probably be a new revision.

Please let me know if this makes sense/answers your questions.

Thanks,
-Joel

Hi @jbrock24,

Makes perfect sense to me.

We are currently 'working around' this issue by having appropriate capabilities with matching HashAlg/MFG combos only.
But if this problem gets addressed in the new revision, that would make our capabilities file much simpler :)

Thanks,
Igor.

Hi @aid302, 

Just to add on to what Joel has said, the RSA sigVer FIPS186-5 testing targets the requirements laid out in FIPS186-5. See [here](https://pages.nist.gov/ACVP/draft-celi-acvp-rsa.html#name-test-coverage)... btw, it looks like this section was never updated to address FIPS186-5 vs FIPS186-4. And FIPS186-5 references RFC 8017 which, as you said, _recommends_ the same hash function be used in the mask generation function. So our testing targets the requirements of FIPS 186-5 vs those of RFC 8692.

Ben

Another thought - something that could be done - the RSA sigVer FIPS186-5 testing could be updated to add an RFC 8692 conformance. If an implementation claims conformance to RFC 8692, then the test cases would get generated such that the hash function and mask generation function values tested conform to the RFC 8692 requirements.